# Ignore Python virtual environment directory, which may exist for
# running e2e specs locally with the inspector.
env/

# Ignore local configuration
.env

# Ignore Docker Stack config file, as we generate it from stack.yaml.template
stack.yaml
