# Use Gunicorn to serve our app in production
gunicorn==21.2.0

# These are the requirements from requirements.txt that are used by
# the app at runtime.
Django==4.2.6
psycopg2-binary==2.9.9
djangorestframework==3.14.0
drf-nested-routers==0.93.4
django-cors-headers==4.3.0
drf-access-policy==1.5.0
