# Use Gunicorn to serve our app in production
gunicorn==21.2.0

# Instrument Django for OpenTelemetry
opentelemetry-instrumentation-django==0.42b0
# Instrument database calls
opentelemetry-instrumentation-psycopg2==0.42b0
# Export data via OTLP
opentelemetry-exporter-otlp-proto-http==1.21.0

# These are the requirements from requirements.txt that are used by
# the app at runtime.
Django==4.2.7
# This package is built from C sources and is recommended by the
# maintainers for production. See
# https://pypi.org/project/psycopg2-binary/
psycopg2==2.9.9
djangorestframework==3.14.0
drf-nested-routers==0.93.4
django-cors-headers==4.3.1
drf-access-policy==1.5.0
django-simple-history==3.4.0
