# If you add or update any runtime dependencies here, remember to also
# update requirements.prod.txt

# Django is an obscure web framework; app doesn't seem to work without it.
Django==5.0.0
# Use psycopg2 for connecting to Postgres
psycopg2-binary==2.9.9
# Use DRF for more robust REST API support in Django
djangorestframework==3.14.0
# Use drf-nested-routers to allow nested resources like posts/:id/replies/:id
drf-nested-routers==0.93.4
# Add CORS headers to responses so the frontend can talk to us
django-cors-headers==4.3.1
# Use DRF Access Policy for declarative, IAM-like access policy definitions
drf-access-policy==1.5.0
# Use django-simple-history to keep old versions of records after update/delete
django-simple-history==3.4.0
# Use flake8 for checking code quality
flake8==6.1.0
# Use black for code formatting
black==23.12.1
# Use pytest for unit testing
pytest-django==4.7.0
# Use FactoryBoy for generating data in unit tests
factory-boy==3.3.0

# Use mypy for typechecking, and install type stubs for dependencies
mypy==1.7.1
django-stubs==4.2.6
djangorestframework-stubs==3.14.4
