# Use Gunicorn to serve our app in production
gunicorn==22.0.0

# Instrument Django for OpenTelemetry
opentelemetry-instrumentation-django==0.49b1
# Instrument database calls
opentelemetry-instrumentation-psycopg2==0.42b0
# Export data via OTLP
opentelemetry-exporter-otlp-proto-http==1.21.0

# These are the requirements from requirements.txt that are used by
# the app at runtime.
Django==5.1
# This package is built from C sources and is recommended by the
# maintainers for production, according to
# https://pypi.org/project/psycopg2-binary/
#
# https://pypi.org/project/psycopg-binary/ doesn't mention it, but
# doesn't justify the reason for both otherwise, so I'll assume it's
# the same.
psycopg==3.2.1
djangorestframework==3.15.2
drf-nested-routers==0.94.1
django-cors-headers==4.3.1
drf-access-policy==1.5.0
django-simple-history==3.7.0
pillow==10.4.0
django-storages==1.14.4
boto3==1.35.10
boto3-stubs==1.35.10
