# If you add or update any runtime dependencies here, remember to also
# update requirements.prod.txt

# Django is an obscure web framework; app doesn't seem to work without it.
Django==5.1
# Use psycopg for connecting to Postgres
psycopg[binary]==3.2.3
# Use DRF for more robust REST API support in Django
djangorestframework==3.15.2
# Use drf-nested-routers to allow nested resources like posts/:id/replies/:id
drf-nested-routers==0.94.1
# Add CORS headers to responses so the frontend can talk to us
django-cors-headers==4.3.1
# Use DRF Access Policy for declarative, IAM-like access policy definitions
drf-access-policy==1.5.0
# Use django-simple-history to keep old versions of records after update/delete
django-simple-history==3.7.0
# Use flake8 for checking code quality
flake8==7.1.1
# Use black for code formatting
black==24.3.0
# Use pytest for unit testing
pytest-django==4.8.0
# Use FactoryBoy for generating data in unit tests
factory-boy==3.3.1

# Use mypy for typechecking, and install type stubs for dependencies
mypy==1.11.2
# These are older versions, but the newer ones give me a type error that
# django.contrib.auth.forms.UserCreationForm.Meta etc don't exist
django-stubs==4.2.7
djangorestframework-stubs==3.14.5
