{
  "dns": ["1.1.1.1", "8.8.8.8"],
  "log-driver": "awslogs",
  "log-opts": {
    "awslogs-region": "${aws_region}",
    "awslogs-group": "forum",
    "awslogs-create-group": "true",
    "tag": "{{ with split .ImageName \":\" }}{{join . \"_\"}}{{end}}-{{.ID}}"
  }
}
