/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
  --f-purple-1: #fff6ff;
  --f-purple-2: #ffeaff;
  --f-purple-3: #a375a3;
  --f-purple-4: #603060;
  --f-purple-5: #331333;

  --f-pink-2: #fc7ee7;

  --f-blue-3: #4588dc;
  --f-blue-4: #044c8e;
  --f-blue-5: #041c2e;

  --f-red-1: #ffc0cf;
  --f-red-3: #aa2222;

  --f-green-3: #048822;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--f-purple-2);
  --color-input-background: var(--f-purple-1);
  --color-text: var(--f-blue-4);
  --color-error: var(--f-red-3);
  --color-error-background: var(--f-red-1);
  --color-background-programming-tag: #00ab32;
  --color-background-music-tag: blue;
  --color-background-photos-tag: yellow;
  --color-background-tag-default: teal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--f-purple-5);
    --color-input-background: var(--f-purple-4);
    --color-text: var(--f-blue-3);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 0;
  border: 0;
  background: transparent;
  color: inherit;
  font-size: inherit;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

input {
  border: 0;
}

div {
  display: inline;
}
