# Use pytest for running the tests
pytest==8.0.1
# Use Playwright for controlling browsers during tests
pytest-playwright==0.4.3
# Use Faker for generating test data
Faker==22.6.0
# Use flake8 for checking code quality
flake8==7.0.0
# Use black for code formatting
black==24.1.1
